<div class="container-fluid my-5">
    <h1 class="text-center my-5">About us</h1>
    <ul class="list-unstyled my-3">
        <li class="media m-4">
            <img class="mr-3 p-2" src="../assets/images/us_1.jpg" style="width: 28rem" alt="Generic placeholder image">
            <div class="media-body">
                <h3 class="mt-3 mb-1">Petra Doe, Web Developr</h3>
                <p class="mt-5">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                    in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                    lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
        </li>
        <li class="media m-4 ">
            <img class="mr-3 p-2" src="../assets/images/us_2.jpg" style="width: 28rem;" alt="Generic placeholder image">
            <div class="media-body">
                <h3 class="mt-3 mb-1">Vanessa Brown, Web Designer</h3>
                <p class="mt-5">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                    in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                    lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
        </li>
    </ul>
</div>