.scroll-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}