<app-hero></app-hero>
<div class="row row-cols-2 row-cols-md-2 mt-3 mx-5 px-5">
    <div class="col mb-4" *ngFor="let topic of topics">
        <div class="card">
            <img src="../assets/{{topic.image}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{topic.name}}</h5>
                <p class="card-text">{{topic.description}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last update: {{topic.release}}</small>
            </div>
        </div>
    </div>
</div>